.vscode/

terraform/rancher/*.tfvars
terraform/rancher/*.yaml
terraform/rancher/.terraform
terraform/rancher/.terraform.lock.hcl
terraform/rancher/terraform.tfstate*

terraform/harvester/*/*.tfvars
terraform/harvester/*/*.yaml
terraform/harvester/*/.terraform
terraform/harvester/*/.terraform.lock.hcl
terraform/harvester/*/terraform.tfstate*

k8s-dev.yaml
rke2-mgmt-rancher-local-config.yaml
mission-ctrl-hrv-config.yaml
