---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-token-secret-prod
  namespace: cert-manager
type: Opaque
stringData:
  cloudflare-token: {{ cf_token_prod }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-token-secret-staging
  namespace: cert-manager
type: Opaque
stringData:
  cloudflare-token: {{ cf_token_staging }}